.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  flex: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.NewsBox{
  width: 24%;
  border: 1px solid black;
  opacity: 80%;
  transition: ease 0.5s;
  padding: 4px;
}

img {
  width:100%;
}

.NewsBox:hover{
  opacity: 100%;
}


